USE [master]
GO
/****** Object:  Database [yemekik]    Script Date: 29.04.2018 01:39:54 ******/
CREATE DATABASE [yemekik]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'yemekik', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\yemekik.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'yemekik_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\yemekik_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [yemekik].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [yemekik]
GO
/****** Object:  Table [dbo].[adminler]    Script Date: 29.04.2018 01:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[adminler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kullanici] [varchar](50) NULL,
	[parola] [varchar](50) NULL,
 CONSTRAINT [PK_adminler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[balik]    Script Date: 29.04.2018 01:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[balik](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[yemek_adi] [varchar](50) NULL,
	[secilme_adedi] [int] NULL,
 CONSTRAINT [PK_balik] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[beyaz_et]    Script Date: 29.04.2018 01:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[beyaz_et](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[yemek_adi] [varchar](50) NULL,
	[secilme_adedi] [int] NULL,
 CONSTRAINT [PK_beyaz_et] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[corba]    Script Date: 29.04.2018 01:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[corba](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[yemek_adi] [varchar](50) NULL,
	[secilme_adedi] [int] NULL,
 CONSTRAINT [PK_corba] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[detoks]    Script Date: 29.04.2018 01:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[detoks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[yemek_adi] [varchar](250) NULL,
	[secilme_adedi] [int] NULL,
 CONSTRAINT [PK_detoks] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[et]    Script Date: 29.04.2018 01:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[et](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[yemek_adi] [varchar](50) NULL,
	[secilme_adedi] [int] NULL,
 CONSTRAINT [PK_et] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[galeri]    Script Date: 29.04.2018 01:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[galeri](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[resim] [varchar](max) NULL,
 CONSTRAINT [PK_galeri] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[salata]    Script Date: 29.04.2018 01:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[salata](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[yemek_adi] [varchar](90) NULL,
	[secilme_adedi] [int] NULL,
 CONSTRAINT [PK_salata] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[uyeler]    Script Date: 29.04.2018 01:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[uyeler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adsoyad] [varchar](50) NULL,
	[kullanici] [varchar](50) NULL,
	[parola] [varchar](50) NULL,
 CONSTRAINT [PK_uyeler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[balik] ADD  CONSTRAINT [DF_balik_secilme_adedi]  DEFAULT ((0)) FOR [secilme_adedi]
GO
ALTER TABLE [dbo].[beyaz_et] ADD  CONSTRAINT [DF_beyaz_et_secilme_adedi]  DEFAULT ((0)) FOR [secilme_adedi]
GO
ALTER TABLE [dbo].[corba] ADD  CONSTRAINT [DF_corba_secilme_adedi]  DEFAULT ((0)) FOR [secilme_adedi]
GO
ALTER TABLE [dbo].[detoks] ADD  CONSTRAINT [DF_detoks_secilme_adedi]  DEFAULT ((0)) FOR [secilme_adedi]
GO
ALTER TABLE [dbo].[et] ADD  CONSTRAINT [DF_et_secilme_adedi]  DEFAULT ((0)) FOR [secilme_adedi]
GO
ALTER TABLE [dbo].[salata] ADD  CONSTRAINT [DF_salata_secilme_adedi]  DEFAULT ((0)) FOR [secilme_adedi]
GO
USE [master]
GO
